$dominant-color: #00adb5;
$secondary-color: #eeeeee;
$secondary-color-2: #f3f3f3;
$accent-color: #393e46;
$accent-color-2: #393e46;
@mixin table-style {
    > table {
        button {
            outline: none;
            cursor: pointer;
            border: none;
            padding: 0.3rem;
            border-radius: 0.3rem;
            margin: 0;
            position: relative;
            display: inline-block;
            font-weight: bold;
            font-size: 1rem;
            overflow: hidden;
            background: $dominant-color;
            color: $secondary-color;
            > span {
                position: relative;
                z-index: 10;
                transition: color 0.4s;
                pointer-events: none;
            }
            &:hover span {
                color: $accent-color;
            }
            &::before,
            ::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
            }
            &::before {
                content: "";
                background: $accent-color;
                width: 120%;
                left: -10%;
                transform: skew(30deg);
                transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
            }
            &:hover::before {
                transform: translate3d(100%, 0, 0);
            }
        }
        display: block;
        overflow-y: hidden;
        height: 100%;
        > tbody,
        thead {
            display: block;
            overflow-y: auto;
            > tr {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
                > * {
                    flex-grow: 1;
                    flex-shrink: 1;
                }
                > td {
                    padding: 0.5rem;
                    background-color: $secondary-color;
                }
            }
        }
        > thead {
            background-color: $dominant-color;
            padding: 0.5rem;
            color: $secondary-color;
            font-size: 1.1rem;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        > tbody {
            height: 100%;
            overflow-y: auto;
        }
    }
}
.hide {
    display: none !important;
}
.payment-management {
    padding: 1rem;
    height: 92%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 6fr 4fr;
    gap: 0.5rem;
    position: relative;
    > .pop-up {
        z-index: 9999;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: rgba(238, 238, 238, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary-color;
        > div {
            width: 25%;
            aspect-ratio: 1/1;
            background-color: $accent-color-2;
            border: 1px solid $accent-color;
            padding: 1rem;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            row-gap: 0.3rem;
            cursor: default;
            > h3 {
                font-size: 1.3rem;
                display: flex;
                align-items: flex-end;
            }
            > * {
                flex: 1;
                font-size: 1.1rem;
            }
            > input {
                cursor: default;
            }
            > .detail-title {
                display: flex;
                align-items: flex-end;
            }
            > .pop-up-actions {
                display: flex;
                justify-content: center;
                column-gap: 0.5rem;
                > button {
                    width: 25%;
                }
            }
        }
    }
    > .upcoming-dues {
        overflow-y: hidden;
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
        display: block;
        @include table-style;
        > h3 {
            font-size: 1.3rem;
        }
        .table-selector {
            padding: 0.3rem;
            outline: none;
            border: 2px solid $accent-color;
            border-radius: 5px;
        }
    }
    > .recent-payments {
        height: 100%;
        display: block;
        grid-column: 1/2;
        grid-row: 2/3;
        overflow-y: hidden;
        @include table-style;
        > h3 {
            font-size: 1.3rem;
        }
    }
    > .analytics-container {
        grid-column: 2/3;
        grid-row: 1/3;
        display: flex;
        flex: 1;
        flex-direction: column;
        row-gap: .3rem;
        > .paid-analytics {
            padding: .5rem;
            height: 50%;
            display: flex;
            border: 1.5px solid $dominant-color;
            flex-direction: column;
            > h3 {
                display: flex;
                justify-content: center;
            }
        }
        > .payment-analytics {
            padding: .2rem;
            height: 50%;
            display: flex;
            border: 1.5px solid $dominant-color;
            flex-direction: column;
            > h3 {
                display: flex;
                justify-content: center;
            }
        }
    }
}
